@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Montserrat-ExtraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/ProximaNova-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: bold;
    font-weight: 700;
    src: url(../fonts/ProximaNova-Bold.otf) format('opentype');
}

* {
    font-family: Corbel, sans-serif;
}

.button, body, button {
    font-family: Corbel, sans-serif;
}

h1, h1.title, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
    color: #1c86f2;
}

.button.white.outline {
    color: #fff;
    border-color: #fff;
    background: 0;
}

.button.white.outline:hover {
    opacity: 0.7;
}

.button.unoj {
    background-color: #1c86f2;
    color: #fff;
    transition: 0.2s;
}

.button.unoj:hover {
    transition: 0.2s;
    background-color: rgba(20, 71, 185, .75);
}

.form-item {
    margin-bottom: 1rem;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.container{
    padding: 0 8%;
}

.navbar {
    width: 100%;
    position: fixed;
    top:0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: solid 1px #d6d6d6;
    background-color: #fff;
    vertical-align: middle;
    z-index: 100;
}

.nav-item {
    padding: 0 0.75rem;
    font-weight: 700;
    line-height: 2.5rem;
    transition: 0.2s;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.04);
    transition: 0.2s;
    color: #1c86f2;
}

#footer{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #eee;
}

#footer-bottom {
    width: 100%;
    padding: 0.5rem 0;
    color: #fff;
    text-align: center;
    background-color: #383838;
}


.tabs > ul > li.active {
    font-weight: bold;
}

pre, td, th {
    padding: 0.5rem;
}

.section {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: solid 1px #d6d6d6;
}


.soalOption > li {
    padding: 0.25rem 0;
}

.soalOption > ul > li {
    margin-left: 1rem;
}

.soalOption {
    //text-align: left;
    //padding-top: 3rem;
}



#livetabs a {
    color: #000;
    text-decoration: none;
    background: #f4f4f4;
    border-radius: 4px;
    padding: 4px 12px;
    border: 1px solid transparent;
}

#livetabs li.active a {
    background: #fff;
    border-color: #eee;
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}

#livetabs > ul > li {
    display: inline;
    margin-right: 0.5rem;
}

.section.first {
    margin-top: 4rem;
}

.panel{
    border: solid 1px #d6d6d6;
    padding: 1rem;
}

#spinner {
    position: fixed;
    height: 100vh;
    background: #fff;
    width: 100%;
    text-align: center;
    padding-top: calc(50vh - 5rem);
}

.counter {
    background: #fff;
    color: #1c86f2;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

#headline {
    text-align: center;
    padding: 4rem 0;
    color: #fff;
    //background-color: #1c86f2;
    background-image: url(../img/pelajar.jpg);
    //background-position: center;
    background-size: cover;
}

#soalHeader {
    //background-color: #1c86f2;
    background-image: url(../img/ujian.jpg);
    background-position:bottom;
    background-size: cover;
    padding: 3rem 0 1.5rem 0;
}

#peringkatHeader {
    background-image: url(../img/peringkat.jpg);
    background-position:middle;
    background-size: cover;
    padding: 3rem 0 1.5rem 0;
}